<%= form_with(model: board_access, local: true) do |form| %>
  <% if board_access.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board_access.errors.count, "error") %> prohibited this board_access from being saved:</h2>

      <ul>
      <% board_access.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :board_id %>
    <%= form.text_field :board_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
