<p id="notice"><%= notice %></p>

<h1>Board Accesses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Board</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @board_accesses.each do |board_access| %>
      <tr>
        <td><%= board_access.user_id %></td>
        <td><%= board_access.board_id %></td>
        <td><%= link_to 'Show', board_access %></td>
        <td><%= link_to 'Edit', edit_board_access_path(board_access) %></td>
        <td><%= link_to 'Destroy', board_access, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board Access', new_board_access_path %>
