<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @board_access.user_id %>
</p>

<p>
  <strong>Board:</strong>
  <%= @board_access.board_id %>
</p>

<%= link_to 'Edit', edit_board_access_path(@board_access) %> |
<%= link_to 'Back', board_accesses_path %>
