<p id="notice"><%= notice %></p>

<p>
  <strong>Column index:</strong>
  <%= @card_table.column_index %>
</p>

<p>
  <strong>Name:</strong>
  <%= @card_table.name %>
</p>

<%= link_to 'Edit', edit_card_table_path(@card_table) %> |
<%= link_to 'Back', card_tables_path %>
