<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @card.parent_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @card.completed %>
</p>

<p>
  <strong>Description:</strong>
  <%= @card.description %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @card.priority %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @card.due_date %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
